@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-blob {
  animation: blob__transform 60s ease-in-out infinite both alternate;
}

@keyframes blob__transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.animate-vercel1 {
  animation: vercel1__transform 8s ease-in-out infinite;
}

@keyframes vercel1__transform {
  0%,
  100% {
    @apply bg-primary;
  }
  16.67% {
    @apply bg-primary;
  }
  33.33% {
    @apply bg-base-content;
  }
  50.00% {
    @apply bg-base-content;
  }
  66.67% {
    @apply bg-base-content;
  }
  83.33% {
    @apply bg-base-content;
  }
}

.animate-vercel2 {
  animation: vercel2__transform 8s ease-in-out infinite;
}

@keyframes vercel2__transform {
  0%,
  100% {
    @apply bg-base-content;
  }
  16.67% {
    @apply bg-base-content;
  }
  33.33% {
    @apply bg-secondary;
  }
  50.00% {
    @apply bg-secondary;
  }
  66.67% {
    @apply bg-base-content;
  }
  83.33% {
    @apply bg-base-content;
  }
}

.animate-vercel3 {
  animation: vercel3__transform 8s ease-in-out infinite;
}

@keyframes vercel3__transform {
  0%,
  100% {
    @apply bg-base-content;
  }
  16.67% {
    @apply bg-base-content;
  }
  33.33% {
    @apply bg-base-content;
  }
  50.00% {
    @apply bg-base-content;
  }
  66.67% {
    @apply bg-accent;
  }
  83.33% {
    @apply bg-accent;
  }
}

.animate-vercelfull {
  animation: vercelfull__transform 8s ease-in-out infinite;
}

@keyframes vercelfull__transform {
  0%,
  100% {
    @apply bg-primary;
  }
  16.67% {
    @apply bg-primary;
  }
  33.33% {
    @apply bg-secondary;
  }
  50.00% {
    @apply bg-secondary;
  }
  66.67% {
    @apply bg-accent;
  }
  83.33% {
    @apply bg-accent;
  }
}
